:root {
    --bg-primary: #1e1e2f;
    --bg-secondary: #27293d;
    --bg-blue: #007bff;
    --bg-indigo: #6610f2;
    --bg-purple: #6f42c1;
    --bg-pink: #e83e8c;
    --bg-red: #dc3545;
    --bg-orange: #fd7e14;
    --bg-yellow: #ffc107;
    --bg-green: #28a745;
    --bg-teal: #20c997;
    --bg-cyan: #17a2b8;
    --bg-gray: #939393;
}